<%= paginate @users %> 
<h1 class="text-warning" align = 'center'>Friends Detail</h1>

<table class="table table-condensed table-bordered table-hover table-striped" >
  <thead>
  <tr class = "error" >
   <strong> <th >Name</th> </strong>
    <th >Email</th>
    <th >Dateofbirth</th>
    <th >Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<% @users.each do |user| %>
  <tr >
    <td  ><%= user.name %></td>
    <td ><%= user.email %></td>
    <td ><%= user.DateofBirth %></td>
    <td  ><%= user.group %></td>
    <td><%= link_to 'Show', user %></td>
    <% if admin_signed_in? && current_admin.email == "admin@admin.com" %>    
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<div >
<i class="icon-user icon-grey"></i><%= link_to 'New User' , new_user_path %>
</div>